<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <%- include("dashboard") -%>
    <form method="get" action="/auth/product">
       
    <table class="table">
        <thead>
          <tr>
            <th scope="col">ProductId</th>
            <th scope="col">Product Name </th>
            <th scope="col">Price</th>
            <th scope="col">Quentity</th>
            <th scope="col">CategoryId</th>
            <th scope="col">Description</th>
            <th scope="col">Delete</th>
            <th scope="col">Create</th>
            <th scope="col">Edit</th>
          </tr>
        </thead>
        <tbody>
         <% for (const row of data) {%>
            <tr>
                <td> <%= row.id %></td>
                <td> <%= row.pname %></td>
                <td> <%= row.price %></td>
                <td> <%= row.quentity_in_stock %></td>
                <td> <%= row.categoryId %></td>
                <td> <%= row.description %></td>
                <td><a id="${row.id}" class="nav-link btn-primary text-center text-white rounded-pill" onClick ="DeleteAction(this)">Delete</a></td>
                <td><a id="${row.id}" class="nav-link btn-primary text-center text-white rounded-pill" onClick ="CreateAction(this)">Create</a></td>
                <td><a id="${row.id}" class="nav-link btn-primary text-center text-white rounded-pill" onClick ="EditAction(this)">Edit</a></td>
            </tr>
        <% } %>
        </tbody>
      </table>
    </form>
</body>
</html>